html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: white;
    scroll-behavior: smooth;
}

nav {
    background-color: #121212;
    box-shadow: 10px 10px 10px #000;
}

.container {
    margin-top: 12vh;
}

.row {
    background-color: #121212;
    color: grey;
    display: flex;
}

.col-left,
.col-mid,
.col-right {
    width: 33.33%;
}

.blog-form form {
    padding: 5px;
}

.blog-form form input[type="text"],
.blog-form form textarea,
.blog-form form input[type="submit"] {
    width: 100%;
    margin: 5px auto;
}

.signup-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.signup-div a {
    text-decoration: none;
    background-color: #444444;
    color: #B2B1B9;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #000;
}

.signup-div a:hover {
    background-color: grey;
    color: #121212;
}